<div class="app-sidebar__spacer"></div>
<div class="app-sidebar__section">Campagne</div>

<a class="app-nav-link {% if request.endpoint in ['candidate_dashboard'] %}is-active{% endif %}"
    href="{{ url_for('candidate_dashboard') }}">
    <i class="ri-dashboard-2-line"></i>
    <span>Tableau de bord</span>
</a>

<a class="app-nav-link {% if request.endpoint in ['candidate_campaign'] %}is-active{% endif %}"
    href="{{ url_for('candidate_campaign') }}">
    <i class="ri-megaphone-line"></i>
    <span>Campagne</span>
</a>

<a class="app-nav-link {% if request.endpoint in ['candidate_statistics'] %}is-active{% endif %}"
    href="{{ url_for('candidate_statistics') }}">
    <i class="ri-line-chart-line"></i>
    <span>Statistiques</span>
</a>

<a class="app-nav-link {% if request.endpoint in ['candidate_announcements'] %}is-active{% endif %}"
    href="{{ url_for('candidate_announcements') }}">
    <i class="ri-notification-3-line"></i>
    <span>Annonces</span>
</a>

<div class="app-sidebar__section">Compte</div>

<a class="app-nav-link {% if request.endpoint in ['candidate_profile'] %}is-active{% endif %}"
    href="{{ url_for('candidate_profile') }}">
    <i class="ri-user-star-line"></i>
    <span>Mon profil</span>
</a>

<a class="app-nav-link {% if request.endpoint in ['public_results'] %}is-active{% endif %}" href="{{ url_for('public_results') }}">
    <i class="ri-bar-chart-box-line"></i>
    <span>Résultats</span>
</a>

<a class="app-nav-link" href="{{ url_for('candidate_export_profile') }}">
    <i class="ri-download-2-line"></i>
    <span>Exporter le profil</span>
</a>
